@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

html {
    font-family: Poppins, Helvetica, Arial, sans-serif !important;
    /*  background-image: url(wave.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: white;*/
}

.w3-content,
.w3-auto {
    max-width: unset !important;
    margin: 0 !important;
    padding-top: 0em;
    flex: 1 0 auto;
}

.w3-top,
.w3-bottom {
    position: relative;
}

.w3-top {
    /* top: 35px; */
    z-index: 99999;
}

.w3-top .w3-col {
    width: 24.99999%;
    min-width: 200px;
}

.w3-col.m3,
.w3-quarter {
    width: 24.99999%;
    min-width: 300px;
}

.page_caption {
    font-weight: 700;
    /*text-transform: uppercase;*/
    letter-spacing: 0px;
    /*color: #84d0f5;
  background-color: #f9f9f9;*/
    color: #fff;
    background-color: #006bb3;
    padding: 0.5em;
    text-align: center;
}
h1.page_caption {
  margin-top: 0;
}

.w3-footer {
    /*position:fixed;*/
    bottom: 0;
    width: 100%;
    /*background-color: unset!important;*/
    background-color: #222;
    flex-shrink: 0;
    color: #e3e3e3;
}
.w3-header {
    width: 100%;
    background-color: #222;
    flex-shrink: 0;
    color: #e3e3e3;
}

.focused {
    color: #000!important;
    background-color: #ccc!important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-family: Poppins, Helvetica, Arial, sans-serif !important;
}

.shiny-input-container {
    margin: auto;
}

.hello-img {
    max-width: 60%;
}

#welcome {
    padding-top: 100px;
}

.w3-modal-content {
    z-index: 999;
    max-width: 80%;
}

.w3-dropdown-hover {
    /* background-color: white!important; */
}

.help .w3-dropdown-content {
  min-width: 40vw;
  font-size: 1.8rem;
  text-align: left;
  overflow: visible;
  position: fixed;
  width: 90vw;
  left: 5vw;
  padding: 2em;
}
h1 .help .w3-button {
  padding: 8px;
  margin: 0;
  vertical-align: baseline;
}


.leaflet {
    margin: auto;
    z-index: 0;
}

#fourth_ui_1-raster .leaflet-tooltip-pane,
#fourth_ui_1-raster .leaflet-popup-pane {
    display: none;
}

#fourth_ui_1-raster {
    pointer-events: none!important;
}

#language_selector {
    margin: 0;
    /*position: absolute; */
    /*top: -35px;*/
    /*width: 100%;*/
    /*background: #222;*/
    height: 35px;
    color: black;
    /*
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    */
}

#language_selector #lg {
    right: 0;
    position: absolute;
}

td,
th {
    text-align: center;
}

.selected_leaflet {
    fill: green;
    stroke: green;
}

/* shiny modal */

.modal-dialog {
  margin: 100px auto;
}
